.search {
  height: 35px;
  width: 480px;

  input {
    font-family: 'Work sans', sans-serif !important;
    border: 1px solid #98aeca !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }

  button {
    border-left: none !important;
    border-right: 1px solid #349af8 !important;
    border-top: 1px solid #349af8 !important;
    border-bottom: 1px solid #349af8 !important;
    background-color: #349af8 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: white !important;
  }
}

.search--active {
  height: 35px;
  width: 480px;

  input {
    border: 1px solid #98aeca !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }

  button {
    border-left: none !important;
    border-right: 1px solid #349af8 !important;
    border-top: 1px solid #349af8 !important;
    border-bottom: 1px solid #349af8 !important;
    background-color: #349af8 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: white !important;
  }
}
